### Wellcome to EDA work

The purpose of this notebook is to just explore a chunk of data.

The challages are:

* Very large files
* Data format
* May be some transformations and cleaning

In [1]:
import numpy as np
import polars as pl
import pandas as pd

In [2]:
review_lf = pl.scan_ndjson("data/yelp/review-001.json")
ctx = pl.SQLContext(register_globals=True, eager_execution=True)
df_small = ctx.execute("SELECT COUNT(*) FROM review_lf")
print(df_small)

shape: (1, 1)
┌─────────┐
│ count   │
│ ---     │
│ u32     │
╞═════════╡
│ 6990280 │
└─────────┘

In [5]:
review_lf = pl.scan_ndjson("data/yelp/review-001.json")
ctx = pl.SQLContext(lf=review_lf, eager_execution=True)
df_small = ctx.execute("""
                       SELECT *
                       FROM lf 
                       WHERE STARTS_WITH(date, '2018')
                       
                       """)
print(df_small)

shape: (906_362, 9)
┌──────────────┬──────────────┬─────────────┬───────┬───┬───────┬──────┬─────────────┬─────────────┐
│ review_id    ┆ user_id      ┆ business_id ┆ stars ┆ … ┆ funny ┆ cool ┆ text        ┆ date        │
│ ---          ┆ ---          ┆ ---         ┆ ---   ┆   ┆ ---   ┆ ---  ┆ ---         ┆ ---         │
│ str          ┆ str          ┆ str         ┆ f64   ┆   ┆ i64   ┆ i64  ┆ str         ┆ str         │
╞══════════════╪══════════════╪═════════════╪═══════╪═══╪═══════╪══════╪═════════════╪═════════════╡
│ KU_O5udG6zpx ┆ mh_-eMZ6K5RL ┆ XQfwVwDr-v0 ┆ 3.0   ┆ … ┆ 0     ┆ 0    ┆ If you      ┆ 2018-07-07  │
│ Og-VcAEodg   ┆ WhZyISBhwA   ┆ ZS3_CbbE5Xw ┆       ┆   ┆       ┆      ┆ decide to   ┆ 22:09:11    │
│              ┆              ┆             ┆       ┆   ┆       ┆      ┆ eat here,   ┆             │
│              ┆              ┆             ┆       ┆   ┆       ┆      ┆ just …      ┆             │
│ lUUhg8ltDsUZ ┆ RreNy--tOmXM ┆ cPepkJeRMtH ┆ 4.0   ┆ … ┆ 0     ┆ 1    ┆ I was       ┆ 2018-07-17  │
│ 9h0xnwY4Dg   ┆ l1en0wiBOg   ┆ apc_b2Oe_dw ┆       ┆   ┆       ┆      ┆ really      ┆ 03:30:07    │
│              ┆              ┆             ┆       ┆   ┆       ┆      ┆ between 3   ┆             │
│              ┆              ┆             ┆       ┆   ┆       ┆      ┆ and 4 sta…  ┆             │
│ JBWZmBy69VMg ┆ aFa96pz67TwO ┆ kq5Ghhh14r- ┆ 5.0   ┆ … ┆ 0     ┆ 0    ┆ My          ┆ 2018-08-23  │
│ gxj3eYn17Q   ┆ Fu4Weq5Agg   ┆ eCxlVmlyd8w ┆       ┆   ┆       ┆      ┆ boyfriend   ┆ 21:39:38    │
│              ┆              ┆             ┆       ┆   ┆       ┆      ┆ and I tried ┆             │
│              ┆              ┆             ┆       ┆   ┆       ┆      ┆ this de…    ┆             │
│ E9AB7V4z8xrt ┆ iYY5Ii1LGpZC ┆ Zx7n8mdt8Oz ┆ 5.0   ┆ … ┆ 0     ┆ 0    ┆ Amazing     ┆ 2018-04-27  │
│ 2uPF7T55FQ   ┆ pXFkHlMefw   ┆ LRXVzolXNhQ ┆       ┆   ┆       ┆      ┆ biscuits    ┆ 23:03:21    │
│              ┆              ┆             ┆       ┆   ┆       ┆      ┆ and (fill   ┆             │
│              ┆              ┆             ┆       ┆   ┆       ┆      ┆ in th…      ┆             │
│ …            ┆ …            ┆ …           ┆ …     ┆ … ┆ …     ┆ …    ┆ …           ┆ …           │
│ e2owJAzHYo89 ┆ QYZM8lgZn2HL ┆ nrXtCSdfWg0 ┆ 4.0   ┆ … ┆ 0     ┆ 0    ┆ Took a      ┆ 2018-02-13  │
│ x88eReSqGg   ┆ _OWYAn7E1A   ┆ TJ86onEZWkg ┆       ┆   ┆       ┆      ┆ colleague   ┆ 19:50:01    │
│              ┆              ┆             ┆       ┆   ┆       ┆      ┆ here for    ┆             │
│              ┆              ┆             ┆       ┆   ┆       ┆      ┆ dinner…     ┆             │
│ _b_SOIkWHsNP ┆ L_fdAnrH5Pxi ┆ ez4kMLP6OJE ┆ 5.0   ┆ … ┆ 1     ┆ 1    ┆ My sister   ┆ 2018-12-10  │
│ RGW4RM3X5w   ┆ 4PqF08_ToA   ┆ IaMbMrrGRdA ┆       ┆   ┆       ┆      ┆ and I went  ┆ 16:31:32    │
│              ┆              ┆             ┆       ┆   ┆       ┆      ┆ on the      ┆             │
│              ┆              ┆             ┆       ┆   ┆       ┆      ┆ ghos…       ┆             │
│ cACxcUY_AIsQ ┆ MCzlzlOw7IGb ┆ fcGexL5VH5G ┆ 3.0   ┆ … ┆ 1     ┆ 0    ┆ This is a   ┆ 2018-03-13  │
│ KkpDRXuqnw   ┆ RAKVjJBPtg   ┆ 2Xw0tRj9uOQ ┆       ┆   ┆       ┆      ┆ good pizza  ┆ 13:54:48    │
│              ┆              ┆             ┆       ┆   ┆       ┆      ┆ option -    ┆             │
│              ┆              ┆             ┆       ┆   ┆       ┆      ┆ th…         ┆             │
│ RwcKOdEuLRHN ┆ 6JehEvdoCvZP ┆ VAeEXLbEcI9 ┆ 3.0   ┆ … ┆ 3     ┆ 7    ┆ Located in  ┆ 2018-01-02  │
│ Je4M9-qpqg   ┆ J_XIxnzIIw   ┆ Emt9KGYq9aA ┆       ┆   ┆       ┆      ┆ the         ┆ 22:50:47    │
│              ┆              ┆             ┆       ┆   ┆       ┆      ┆ 'Walking    ┆             │
│              ┆              ┆             ┆       ┆   ┆       ┆      ┆ District…   ┆             │
└──────────────┴──────────────┴─────────────┴───────┴───┴───────┴──────┴─────────────┴─────────────┘

In [6]:
yelp_df_2018 = df_small.to_pandas()

In [7]:
yelp_df_2018["date"] = pd.to_datetime(yelp_df_2018["date"])

In [8]:
yelp_df_2018

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,lUUhg8ltDsUZ9h0xnwY4Dg,RreNy--tOmXMl1en0wiBOg,cPepkJeRMtHapc_b2Oe_dw,4.0,1,0,1,I was really between 3 and 4 stars for this on...,2018-07-17 03:30:07
2,JBWZmBy69VMggxj3eYn17Q,aFa96pz67TwOFu4Weq5Agg,kq5Ghhh14r-eCxlVmlyd8w,5.0,0,0,0,My boyfriend and I tried this deli for the fir...,2018-08-23 21:39:38
3,E9AB7V4z8xrt2uPF7T55FQ,iYY5Ii1LGpZCpXFkHlMefw,Zx7n8mdt8OzLRXVzolXNhQ,5.0,0,0,0,Amazing biscuits and (fill in the blank). Grea...,2018-04-27 23:03:21
4,A4n4YaE-owOVgTQcrVqHUw,S7bjj-L07JuRr-tpX1UZLw,I6L0Zxi5Ww0zEWSAVgngeQ,4.0,0,0,0,The cafe was extremely cute. We came at 8am an...,2018-07-07 20:50:12
...,...,...,...,...,...,...,...,...,...
906357,CphIcLTNU26TDb_YTOSgUQ,Is5IWDXWtqVMCVtedjJIQQ,VOITl4HlmC1EGJ_wVMS6_w,5.0,0,0,0,I compete in Jiu-Jitsu and every competition I...,2018-11-09 18:09:35
906358,e2owJAzHYo89x88eReSqGg,QYZM8lgZn2HL_OWYAn7E1A,nrXtCSdfWg0TJ86onEZWkg,4.0,1,0,0,Took a colleague here for dinner as we were tr...,2018-02-13 19:50:01
906359,_b_SOIkWHsNPRGW4RM3X5w,L_fdAnrH5Pxi4PqF08_ToA,ez4kMLP6OJEIaMbMrrGRdA,5.0,1,1,1,My sister and I went on the ghost tour with Th...,2018-12-10 16:31:32
906360,cACxcUY_AIsQKkpDRXuqnw,MCzlzlOw7IGbRAKVjJBPtg,fcGexL5VH5G2Xw0tRj9uOQ,3.0,1,1,0,This is a good pizza option - they deliver thr...,2018-03-13 13:54:48
906361,RwcKOdEuLRHNJe4M9-qpqg,6JehEvdoCvZPJ_XIxnzIIw,VAeEXLbEcI9Emt9KGYq9aA,3.0,10,3,7,Located in the 'Walking District' in Nashville...,2018-01-02 22:50:47

In [9]:
yelp_user_df = pd.read_parquet("data/yelp/user-002.parquet")

In [10]:
import sys
sys.getsizeof(yelp_user_df) / 1000000

3834.143829

In [11]:
yelp_user_df.dtypes

user_id                object
name                   object
review_count            int64
yelping_since          object
useful                  int64
funny                   int64
cool                    int64
elite                  object
friends                object
fans                    int64
average_stars         float64
compliment_hot          int64
compliment_more         int64
compliment_profile      int64
compliment_cute         int64
compliment_list         int64
compliment_note         int64
compliment_plain        int64
compliment_cool         int64
compliment_funny        int64
compliment_writer       int64
compliment_photos       int64
dtype: object

In [12]:
yelp_user_df.isnull().sum()

user_id               0
name                  0
review_count          0
yelping_since         0
useful                0
funny                 0
cool                  0
elite                 0
friends               0
fans                  0
average_stars         0
compliment_hot        0
compliment_more       0
compliment_profile    0
compliment_cute       0
compliment_list       0
compliment_note       0
compliment_plain      0
compliment_cool       0
compliment_funny      0
compliment_writer     0
compliment_photos     0
dtype: int64

In [13]:
yelp_user_df.shape

(2105597, 22)

In [38]:
# Dangerous code! This will run something very large computationally talking 
# yelp_user_df.agg([np.mean, np.median, np.std])

In [16]:
yelp_2018 = yelp_df_2018.merge(yelp_user_df, on="user_id")

In [22]:
yelp_2018.columns

Index(['review_id', 'user_id', 'business_id', 'stars', 'useful_x', 'funny_x',
       'cool_x', 'text', 'date', 'name', 'review_count', 'yelping_since',
       'useful_y', 'funny_y', 'cool_y', 'elite', 'friends', 'fans',
       'average_stars', 'compliment_hot', 'compliment_more',
       'compliment_profile', 'compliment_cute', 'compliment_list',
       'compliment_note', 'compliment_plain', 'compliment_cool',
       'compliment_funny', 'compliment_writer', 'compliment_photos'],
      dtype='object')

In [35]:
yelp_2018[yelp_2018.duplicated(subset=["user_id"])][['review_id', 'user_id', 'business_id', 'stars', 'useful_x', 'funny_x',
       'cool_x', 'text', 'date', 'name', 'review_count', 'yelping_since',
       'useful_y', 'funny_y', 'cool_y', 'elite', 'friends', 'fans',
       'average_stars']]#.groupby("user_id").count().sort_values(by="review_id", ascending=False)

,review_id,user_id,business_id,stars,useful_x,funny_x,cool_x,text,date,name,review_count,yelping_since,useful_y,funny_y,cool_y,elite,friends,fans,average_stars
1,Bqn8psEmvYTO7izrnGNgqg,mh_-eMZ6K5RLWhZyISBhwA,8eDkw7CE0NKqMknPIu26fw,5.0,1,0,0,We tried this place on our first trip to New O...,2018-04-25 17:04:09,Melanie,33,2016-01-13 17:20:44,32,3,8,,"DS9QBM_NWJz1E279Zrao-A, XdXgIs4i5JFvtJf0rJlWsA...",0,4.06
2,78MWkzX8uQz0kDnhlhwAAg,mh_-eMZ6K5RLWhZyISBhwA,mOk3D7VczrDapNuUgLxUQw,4.0,2,0,2,So glad we stumbled upon this restaurant! It i...,2018-10-29 21:54:59,Melanie,33,2016-01-13 17:20:44,32,3,8,,"DS9QBM_NWJz1E279Zrao-A, XdXgIs4i5JFvtJf0rJlWsA...",0,4.06
3,krpCZHUj222Ha7AffGUZHQ,mh_-eMZ6K5RLWhZyISBhwA,L4kfcADLCU4T33i7Z0CkuA,2.0,3,0,1,I was looking forward to a romantic dinner her...,2018-02-11 03:07:30,Melanie,33,2016-01-13 17:20:44,32,3,8,,"DS9QBM_NWJz1E279Zrao-A, XdXgIs4i5JFvtJf0rJlWsA...",0,4.06
4,JpVqv0oZNcZyd9NqgG7tTA,mh_-eMZ6K5RLWhZyISBhwA,QWF_PoD4PthsYsq2Tk0GEQ,3.0,0,0,0,We moved to this area recently and have been l...,2018-01-21 18:08:11,Melanie,33,2016-01-13 17:20:44,32,3,8,,"DS9QBM_NWJz1E279Zrao-A, XdXgIs4i5JFvtJf0rJlWsA...",0,4.06
5,TbExVvMwCPOcKZwBq-uWRg,mh_-eMZ6K5RLWhZyISBhwA,v43sH62YQMO60zIiLR65DA,4.0,0,0,0,We like this place because of its convenience ...,2018-06-21 22:34:21,Melanie,33,2016-01-13 17:20:44,32,3,8,,"DS9QBM_NWJz1E279Zrao-A, XdXgIs4i5JFvtJf0rJlWsA...",0,4.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1063264,AHJfnRh0p-K_sMaAjLuSbQ,mi9bNGzbfPD14WzWog6w5g,V0SHmvYtXqdv8-AsqshV6w,4.0,3,1,2,"My clients took me here for lunch, so I would ...",2018-08-10 16:57:37,Anna,638,2007-04-06 16:26:40,801,445,441,"2008,2009,2010,2011,2012,2013,2014,2015,2016,2...","5MCBLBxr10NLUKZ4AboAMg, woaEkCHLfeaCuji-oInt1A...",55,3.78
1063405,TDhs-sjA0IM0Ob-pVMARjg,tJZIfGu9ZOmg0V95FVv6nA,qSPkak0s7JIgvAQXgpcPPA,1.0,3,0,0,This is an absolutely HORRIBLE office! I highl...,2018-12-26 14:22:11,Michael,56,2012-11-04 00:18:08,64,7,11,,"tsiNY8NPSG9fxhIqwZ05Kg, _nYZd7QOIK1e1nGAOYuDCg...",4,3.43
1063406,TDhs-sjA0IM0Ob-pVMARjg,tJZIfGu9ZOmg0V95FVv6nA,qSPkak0s7JIgvAQXgpcPPA,1.0,3,0,0,This is an absolutely HORRIBLE office! I highl...,2018-12-26 14:22:11,Michael,56,2012-11-04 00:18:08,64,7,11,,"tsiNY8NPSG9fxhIqwZ05Kg, _nYZd7QOIK1e1nGAOYuDCg...",4,3.43
1063407,TDhs-sjA0IM0Ob-pVMARjg,tJZIfGu9ZOmg0V95FVv6nA,qSPkak0s7JIgvAQXgpcPPA,1.0,3,0,0,This is an absolutely HORRIBLE office! I highl...,2018-12-26 14:22:11,Michael,56,2012-11-04 00:18:08,64,7,11,,"tsiNY8NPSG9fxhIqwZ05Kg, _nYZd7QOIK1e1nGAOYuDCg...",4,3.43
1063408,TDhs-sjA0IM0Ob-pVMARjg,tJZIfGu9ZOmg0V95FVv6nA,qSPkak0s7JIgvAQXgpcPPA,1.0,3,0,0,This is an absolutely HORRIBLE office! I highl...,2018-12-26 14:22:11,Michael,56,2012-11-04 00:18:08,64,7,11,,"tsiNY8NPSG9fxhIqwZ05Kg, _nYZd7QOIK1e1nGAOYuDCg...",4,3.43

In [36]:
# How many users leave a review in 2018?
len(yelp_2018["user_id"].unique())

422063

In [37]:
business_df = pd.read_pickle("data/yelp/Yelp-20230909T191413Z-003/Yelp/business.pkl")

In [38]:
business_df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,NaN,93101,34.426679,-119.711197,5.0,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,NaN,63123,38.551126,-90.335695,3.0,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,NaN,85711,32.223236,-110.880452,3.5,22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,CA,19107,39.955505,-75.155564,4.0,80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,MO,18054,40.338183,-75.471659,4.5,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
business_df.columns

Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'attributes', 'categories', 'hours', 'business_id', 'name', 'address',
       'city', 'state', 'postal_code', 'latitude', 'longitude', 'stars',
       'review_count', 'is_open', 'attributes', 'categories', 'hours'],
      dtype='object')

In [40]:
business_df.isna().sum()

business_id          0
name                 0
address              0
city                 0
state                3
postal_code          0
latitude             0
longitude            0
stars                0
review_count         0
is_open              0
attributes       13744
categories         103
hours            23223
business_id     150341
name            150341
address         150341
city            150341
state           150341
postal_code     150341
latitude        150341
longitude       150341
stars           150341
review_count    150341
is_open         150341
attributes      150341
categories      150341
hours           150341
dtype: int64