### Wellcome to EDA work

The purpose of this notebook is to just explore a chunk of data.

The challages are:

* Very large files
* Data format
* May be some transformations and cleaning

In [1]:
import numpy as np
import polars as pl
import pandas as pd

In [2]:
review_lf = pl.scan_ndjson("data/yelp/review-001.json")
ctx = pl.SQLContext(register_globals=True, eager_execution=True)
df_small = ctx.execute("SELECT COUNT(date) FROM review_lf")
print(df_small)

shape: (1, 1)
┌─────────┐
│ count   │
│ ---     │
│ u32     │
╞═════════╡
│ 6990280 │
└─────────┘

In [3]:
review_lf = pl.scan_ndjson("data/yelp/review-001.json")
ctx = pl.SQLContext(lf=review_lf, eager_execution=True)
df_small = ctx.execute("""
                       SELECT *
                       FROM lf 
                       WHERE STARTS_WITH(date, '2018')
                       
                       """)
print(df_small)

shape: (906_362, 9)
┌──────────────┬──────────────┬─────────────┬───────┬───┬───────┬──────┬─────────────┬─────────────┐
│ review_id    ┆ user_id      ┆ business_id ┆ stars ┆ … ┆ funny ┆ cool ┆ text        ┆ date        │
│ ---          ┆ ---          ┆ ---         ┆ ---   ┆   ┆ ---   ┆ ---  ┆ ---         ┆ ---         │
│ str          ┆ str          ┆ str         ┆ f64   ┆   ┆ i64   ┆ i64  ┆ str         ┆ str         │
╞══════════════╪══════════════╪═════════════╪═══════╪═══╪═══════╪══════╪═════════════╪═════════════╡
│ KU_O5udG6zpx ┆ mh_-eMZ6K5RL ┆ XQfwVwDr-v0 ┆ 3.0   ┆ … ┆ 0     ┆ 0    ┆ If you      ┆ 2018-07-07  │
│ Og-VcAEodg   ┆ WhZyISBhwA   ┆ ZS3_CbbE5Xw ┆       ┆   ┆       ┆      ┆ decide to   ┆ 22:09:11    │
│              ┆              ┆             ┆       ┆   ┆       ┆      ┆ eat here,   ┆             │
│              ┆              ┆             ┆       ┆   ┆       ┆      ┆ just …      ┆             │
│ lUUhg8ltDsUZ ┆ RreNy--tOmXM ┆ cPepkJeRMtH ┆ 4.0   ┆ … ┆ 0     ┆ 1    ┆ I was       ┆ 2018-07-17  │
│ 9h0xnwY4Dg   ┆ l1en0wiBOg   ┆ apc_b2Oe_dw ┆       ┆   ┆       ┆      ┆ really      ┆ 03:30:07    │
│              ┆              ┆             ┆       ┆   ┆       ┆      ┆ between 3   ┆             │
│              ┆              ┆             ┆       ┆   ┆       ┆      ┆ and 4 sta…  ┆             │
│ JBWZmBy69VMg ┆ aFa96pz67TwO ┆ kq5Ghhh14r- ┆ 5.0   ┆ … ┆ 0     ┆ 0    ┆ My          ┆ 2018-08-23  │
│ gxj3eYn17Q   ┆ Fu4Weq5Agg   ┆ eCxlVmlyd8w ┆       ┆   ┆       ┆      ┆ boyfriend   ┆ 21:39:38    │
│              ┆              ┆             ┆       ┆   ┆       ┆      ┆ and I tried ┆             │
│              ┆              ┆             ┆       ┆   ┆       ┆      ┆ this de…    ┆             │
│ E9AB7V4z8xrt ┆ iYY5Ii1LGpZC ┆ Zx7n8mdt8Oz ┆ 5.0   ┆ … ┆ 0     ┆ 0    ┆ Amazing     ┆ 2018-04-27  │
│ 2uPF7T55FQ   ┆ pXFkHlMefw   ┆ LRXVzolXNhQ ┆       ┆   ┆       ┆      ┆ biscuits    ┆ 23:03:21    │
│              ┆              ┆             ┆       ┆   ┆       ┆      ┆ and (fill   ┆             │
│              ┆              ┆             ┆       ┆   ┆       ┆      ┆ in th…      ┆             │
│ …            ┆ …            ┆ …           ┆ …     ┆ … ┆ …     ┆ …    ┆ …           ┆ …           │
│ e2owJAzHYo89 ┆ QYZM8lgZn2HL ┆ nrXtCSdfWg0 ┆ 4.0   ┆ … ┆ 0     ┆ 0    ┆ Took a      ┆ 2018-02-13  │
│ x88eReSqGg   ┆ _OWYAn7E1A   ┆ TJ86onEZWkg ┆       ┆   ┆       ┆      ┆ colleague   ┆ 19:50:01    │
│              ┆              ┆             ┆       ┆   ┆       ┆      ┆ here for    ┆             │
│              ┆              ┆             ┆       ┆   ┆       ┆      ┆ dinner…     ┆             │
│ _b_SOIkWHsNP ┆ L_fdAnrH5Pxi ┆ ez4kMLP6OJE ┆ 5.0   ┆ … ┆ 1     ┆ 1    ┆ My sister   ┆ 2018-12-10  │
│ RGW4RM3X5w   ┆ 4PqF08_ToA   ┆ IaMbMrrGRdA ┆       ┆   ┆       ┆      ┆ and I went  ┆ 16:31:32    │
│              ┆              ┆             ┆       ┆   ┆       ┆      ┆ on the      ┆             │
│              ┆              ┆             ┆       ┆   ┆       ┆      ┆ ghos…       ┆             │
│ cACxcUY_AIsQ ┆ MCzlzlOw7IGb ┆ fcGexL5VH5G ┆ 3.0   ┆ … ┆ 1     ┆ 0    ┆ This is a   ┆ 2018-03-13  │
│ KkpDRXuqnw   ┆ RAKVjJBPtg   ┆ 2Xw0tRj9uOQ ┆       ┆   ┆       ┆      ┆ good pizza  ┆ 13:54:48    │
│              ┆              ┆             ┆       ┆   ┆       ┆      ┆ option -    ┆             │
│              ┆              ┆             ┆       ┆   ┆       ┆      ┆ th…         ┆             │
│ RwcKOdEuLRHN ┆ 6JehEvdoCvZP ┆ VAeEXLbEcI9 ┆ 3.0   ┆ … ┆ 3     ┆ 7    ┆ Located in  ┆ 2018-01-02  │
│ Je4M9-qpqg   ┆ J_XIxnzIIw   ┆ Emt9KGYq9aA ┆       ┆   ┆       ┆      ┆ the         ┆ 22:50:47    │
│              ┆              ┆             ┆       ┆   ┆       ┆      ┆ 'Walking    ┆             │
│              ┆              ┆             ┆       ┆   ┆       ┆      ┆ District…   ┆             │
└──────────────┴──────────────┴─────────────┴───────┴───┴───────┴──────┴─────────────┴─────────────┘

In [4]:
yelp_df_2018 = df_small.to_pandas()

In [5]:
yelp_df_2018["date"] = pd.to_datetime(yelp_df_2018["date"])

In [6]:
yelp_df_2018

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,lUUhg8ltDsUZ9h0xnwY4Dg,RreNy--tOmXMl1en0wiBOg,cPepkJeRMtHapc_b2Oe_dw,4.0,1,0,1,I was really between 3 and 4 stars for this on...,2018-07-17 03:30:07
2,JBWZmBy69VMggxj3eYn17Q,aFa96pz67TwOFu4Weq5Agg,kq5Ghhh14r-eCxlVmlyd8w,5.0,0,0,0,My boyfriend and I tried this deli for the fir...,2018-08-23 21:39:38
3,E9AB7V4z8xrt2uPF7T55FQ,iYY5Ii1LGpZCpXFkHlMefw,Zx7n8mdt8OzLRXVzolXNhQ,5.0,0,0,0,Amazing biscuits and (fill in the blank). Grea...,2018-04-27 23:03:21
4,A4n4YaE-owOVgTQcrVqHUw,S7bjj-L07JuRr-tpX1UZLw,I6L0Zxi5Ww0zEWSAVgngeQ,4.0,0,0,0,The cafe was extremely cute. We came at 8am an...,2018-07-07 20:50:12
...,...,...,...,...,...,...,...,...,...
906357,CphIcLTNU26TDb_YTOSgUQ,Is5IWDXWtqVMCVtedjJIQQ,VOITl4HlmC1EGJ_wVMS6_w,5.0,0,0,0,I compete in Jiu-Jitsu and every competition I...,2018-11-09 18:09:35
906358,e2owJAzHYo89x88eReSqGg,QYZM8lgZn2HL_OWYAn7E1A,nrXtCSdfWg0TJ86onEZWkg,4.0,1,0,0,Took a colleague here for dinner as we were tr...,2018-02-13 19:50:01
906359,_b_SOIkWHsNPRGW4RM3X5w,L_fdAnrH5Pxi4PqF08_ToA,ez4kMLP6OJEIaMbMrrGRdA,5.0,1,1,1,My sister and I went on the ghost tour with Th...,2018-12-10 16:31:32
906360,cACxcUY_AIsQKkpDRXuqnw,MCzlzlOw7IGbRAKVjJBPtg,fcGexL5VH5G2Xw0tRj9uOQ,3.0,1,1,0,This is a good pizza option - they deliver thr...,2018-03-13 13:54:48
906361,RwcKOdEuLRHNJe4M9-qpqg,6JehEvdoCvZPJ_XIxnzIIw,VAeEXLbEcI9Emt9KGYq9aA,3.0,10,3,7,Located in the 'Walking District' in Nashville...,2018-01-02 22:50:47

In [7]:
yelp_user_df = pd.read_parquet("data/yelp/user-002.parquet")

In [8]:
import sys
sys.getsizeof(yelp_user_df) / 1000000

3834.143945

In [9]:
yelp_user_df.dtypes

user_id                object
name                   object
review_count            int64
yelping_since          object
useful                  int64
funny                   int64
cool                    int64
elite                  object
friends                object
fans                    int64
average_stars         float64
compliment_hot          int64
compliment_more         int64
compliment_profile      int64
compliment_cute         int64
compliment_list         int64
compliment_note         int64
compliment_plain        int64
compliment_cool         int64
compliment_funny        int64
compliment_writer       int64
compliment_photos       int64
dtype: object

In [10]:
yelp_user_df.isnull().sum()

user_id               0
name                  0
review_count          0
yelping_since         0
useful                0
funny                 0
cool                  0
elite                 0
friends               0
fans                  0
average_stars         0
compliment_hot        0
compliment_more       0
compliment_profile    0
compliment_cute       0
compliment_list       0
compliment_note       0
compliment_plain      0
compliment_cool       0
compliment_funny      0
compliment_writer     0
compliment_photos     0
dtype: int64

In [11]:
yelp_user_df.shape

(2105597, 22)

In [12]:
# Dangerous code! This will run something very large computationally talking 
# yelp_user_df.agg([np.mean, np.median, np.std])

In [13]:
yelp_2018 = yelp_df_2018.merge(yelp_user_df, on="user_id")

In [14]:
yelp_2018.columns

Index(['review_id', 'user_id', 'business_id', 'stars', 'useful_x', 'funny_x',
       'cool_x', 'text', 'date', 'name', 'review_count', 'yelping_since',
       'useful_y', 'funny_y', 'cool_y', 'elite', 'friends', 'fans',
       'average_stars', 'compliment_hot', 'compliment_more',
       'compliment_profile', 'compliment_cute', 'compliment_list',
       'compliment_note', 'compliment_plain', 'compliment_cool',
       'compliment_funny', 'compliment_writer', 'compliment_photos'],
      dtype='object')

In [75]:
yelp_2018[yelp_2018.duplicated(subset=["user_id"])][['review_id', 'user_id', 'business_id', 'stars', 'useful_x', 'funny_x',
       'cool_x', 'text', 'date', 'name', 'review_count', 'yelping_since',
       'useful_y', 'funny_y', 'cool_y', 'elite', 'friends', 'fans',
       'average_stars']].head()#.groupby("user_id").count().sort_values(by="review_id", ascending=False)

,review_id,user_id,business_id,stars,useful_x,funny_x,cool_x,text,date,name,review_count,yelping_since,useful_y,funny_y,cool_y,elite,friends,fans,average_stars
1,Bqn8psEmvYTO7izrnGNgqg,mh_-eMZ6K5RLWhZyISBhwA,8eDkw7CE0NKqMknPIu26fw,5.0,1,0,0,We tried this place on our first trip to New O...,2018-04-25 17:04:09,Melanie,33,2016-01-13 17:20:44,32,3,8,,"DS9QBM_NWJz1E279Zrao-A, XdXgIs4i5JFvtJf0rJlWsA...",0,4.06
2,78MWkzX8uQz0kDnhlhwAAg,mh_-eMZ6K5RLWhZyISBhwA,mOk3D7VczrDapNuUgLxUQw,4.0,2,0,2,So glad we stumbled upon this restaurant! It i...,2018-10-29 21:54:59,Melanie,33,2016-01-13 17:20:44,32,3,8,,"DS9QBM_NWJz1E279Zrao-A, XdXgIs4i5JFvtJf0rJlWsA...",0,4.06
3,krpCZHUj222Ha7AffGUZHQ,mh_-eMZ6K5RLWhZyISBhwA,L4kfcADLCU4T33i7Z0CkuA,2.0,3,0,1,I was looking forward to a romantic dinner her...,2018-02-11 03:07:30,Melanie,33,2016-01-13 17:20:44,32,3,8,,"DS9QBM_NWJz1E279Zrao-A, XdXgIs4i5JFvtJf0rJlWsA...",0,4.06
4,JpVqv0oZNcZyd9NqgG7tTA,mh_-eMZ6K5RLWhZyISBhwA,QWF_PoD4PthsYsq2Tk0GEQ,3.0,0,0,0,We moved to this area recently and have been l...,2018-01-21 18:08:11,Melanie,33,2016-01-13 17:20:44,32,3,8,,"DS9QBM_NWJz1E279Zrao-A, XdXgIs4i5JFvtJf0rJlWsA...",0,4.06
5,TbExVvMwCPOcKZwBq-uWRg,mh_-eMZ6K5RLWhZyISBhwA,v43sH62YQMO60zIiLR65DA,4.0,0,0,0,We like this place because of its convenience ...,2018-06-21 22:34:21,Melanie,33,2016-01-13 17:20:44,32,3,8,,"DS9QBM_NWJz1E279Zrao-A, XdXgIs4i5JFvtJf0rJlWsA...",0,4.06

In [16]:
# How many users leave a review in 2018?
len(yelp_2018["user_id"].unique())

422063

### Exploring Business Dataset

In [17]:
business_df = pd.read_pickle("data/yelp/Yelp-20230909T191413Z-003/Yelp/business.pkl")

In [74]:
business_df[business_df.iloc[:,0] == "VOITl4HlmC1EGJ_wVMS6_w"]

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
146428,VOITl4HlmC1EGJ_wVMS6_w,South Tampa Jiu-Jitsu & MMA,4477 W Gandy Blvd,Tampa,PA,33611,27.894652,-82.520573,5.0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
business_df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,NaN,93101,34.426679,-119.711197,5.0,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,NaN,63123,38.551126,-90.335695,3.0,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,NaN,85711,32.223236,-110.880452,3.5,22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,CA,19107,39.955505,-75.155564,4.0,80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,MO,18054,40.338183,-75.471659,4.5,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
business_df.shape

(150346, 28)

In [20]:
business_df.columns

Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'attributes', 'categories', 'hours', 'business_id', 'name', 'address',
       'city', 'state', 'postal_code', 'latitude', 'longitude', 'stars',
       'review_count', 'is_open', 'attributes', 'categories', 'hours'],
      dtype='object')

It seems there are a few duplicated column names... Wha do they contain?

In [21]:
business_df.isna().sum()

business_id          0
name                 0
address              0
city                 0
state                3
postal_code          0
latitude             0
longitude            0
stars                0
review_count         0
is_open              0
attributes       13744
categories         103
hours            23223
business_id     150341
name            150341
address         150341
city            150341
state           150341
postal_code     150341
latitude        150341
longitude       150341
stars           150341
review_count    150341
is_open         150341
attributes      150341
categories      150341
hours           150341
dtype: int64

Certianly, null values only.. but.. that null values counting is bit smaller that the total records.. there should be data to be saved.

Indeed, 5 records that somehow the duplicated columns are not empty.. but.. hw it's happened? I do not know, I let's save this for a while since that question does not belong to the scope

In [77]:
business_df[~business_df.iloc[:,-1].isna()]

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
590,6_Zf2QsRHCH1RhbzA9inyw,Starbucks,8602 Hillsborough Ave,Tampa,LA,33615,27.99637,-82.580954,3.0,56,...,LA,33615,27.99637,-82.580954,3.0,56,1,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Coffee & Tea, Food","{'Monday': '5:30-21:0', 'Tuesday': '5:30-21:0'..."
613,Iipfa9Kaac9XH5Vo8GQwvg,Starbucks,5956 153 Avenue,Edmonton,PA,T5Y 2W1,53.616147,-113.432424,3.5,10,...,PA,T5Y 2W1,53.616147,-113.432424,3.5,10,1,"{'BusinessParking': '{'garage': False, 'street...","Coffee & Tea, Food","{'Monday': '5:30-22:0', 'Tuesday': '5:30-22:0'..."
978,oY6osC4Ch3PvguA7D1hh_w,Starbucks,1251 Route 130 S,Cinnaminson,AZ,08077,40.000157,-74.987313,4.5,7,...,AZ,08077,40.000157,-74.987313,4.5,7,1,"{'WiFi': 'u'free'', 'BusinessParking': '{'gara...","Coffee & Tea, Food","{'Monday': '5:30-20:0', 'Tuesday': '5:30-20:0'..."
1296,pxuMxh5oC7W-PDN9wwvozg,Starbucks,219 N Center St,Reno,FL,89501,39.527772,-119.812518,3.0,44,...,FL,89501,39.527772,-119.812518,3.0,44,0,"{'BikeParking': 'False', 'Caters': 'False', 'O...","Coffee & Tea, Food","{'Monday': '5:30-19:0', 'Tuesday': '5:30-19:0'..."
1543,lo2VbA7Lwzu3i23pQpmzlw,Starbucks,"1125 S Black Horse Pike, Space 575",Gloucester Township,NJ,08012,39.78403,-75.05207,3.0,15,...,NJ,08012,39.78403,-75.05207,3.0,15,1,"{'BikeParking': 'True', 'RestaurantsPriceRange...","Food, Coffee & Tea","{'Monday': '0:0-0:0', 'Tuesday': '10:30-20:0',..."

but.. do these duplicated columns hold same information?

The following output indicates, they do..

In [78]:
business_df[~business_df.iloc[:,-1].isna()]["categories"] # -> It seems this rows holds same information

              categories          categories
590   Coffee & Tea, Food  Coffee & Tea, Food
613   Coffee & Tea, Food  Coffee & Tea, Food
978   Coffee & Tea, Food  Coffee & Tea, Food
1296  Coffee & Tea, Food  Coffee & Tea, Food
1543  Food, Coffee & Tea  Food, Coffee & Tea

So let's just drop those duplicated columns.. how? by dropping "na"s through columns whose null values are more than 150k

In [102]:
business_df.dropna(axis="columns", thresh=150000, inplace=True)

In [103]:
business_df

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,categories
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,NaN,93101,34.426679,-119.711197,5.0,7,0,"Doctors, Traditional Chinese Medicine, Naturop..."
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,NaN,63123,38.551126,-90.335695,3.0,15,1,"Shipping Centers, Local Services, Notaries, Ma..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,NaN,85711,32.223236,-110.880452,3.5,22,0,"Department Stores, Shopping, Fashion, Home & G..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,CA,19107,39.955505,-75.155564,4.0,80,1,"Restaurants, Food, Bubble Tea, Coffee & Tea, B..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,MO,18054,40.338183,-75.471659,4.5,13,1,"Brewpubs, Breweries, Food"
...,...,...,...,...,...,...,...,...,...,...,...,...
150341,IUQopTMmYQG-qRtBk-8QnA,Binh's Nails,3388 Gateway Blvd,Edmonton,IN,T6J 5H2,53.468419,-113.492054,3.0,13,1,"Nail Salons, Beauty & Spas"
150342,c8GjPIOTGVmIemT7j5_SyQ,Wild Birds Unlimited,2813 Bransford Ave,Nashville,DE,37204,36.115118,-86.766925,4.0,5,1,"Pets, Nurseries & Gardening, Pet Stores, Hobby..."
150343,_QAMST-NrQobXduilWEqSw,Claire's Boutique,"6020 E 82nd St, Ste 46",Indianapolis,AB,46250,39.908707,-86.065088,3.5,8,1,"Shopping, Jewelry, Piercing, Toy Stores, Beaut..."
150344,mtGm22y5c2UHNXDFAjaPNw,Cyclery & Fitness Center,2472 Troy Rd,Edwardsville,AB,62025,38.782351,-89.950558,4.0,24,1,"Fitness/Exercise Equipment, Eyewear & Optician..."
150345,jV_XOycEzSlTx-65W906pg,Sic Ink,238 Apollo Beach Blvd,Apollo beach,TN,33572,27.771002,-82.39491,4.5,9,1,"Beauty & Spas, Permanent Makeup, Piercing, Tattoo"

In [46]:
import ast
def safe_literal_eval(x):
    try:
        return ast.literal_eval(x)
    except (ValueError, SyntaxError):
        return "hey"

In [60]:
business_df["categories"]

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
150341    NaN
150342    NaN
150343    NaN
150344    NaN
150345    NaN
Name: categories, Length: 150346, dtype: object

In [57]:
business_df[business_df["categories"].iloc[:,0].astype(str).apply(lambda x: x.split(",")).apply(lambda x: "Restaurants" in x)]

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,CA,19107,39.955505,-75.155564,4.0,80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,9OG5YkX1g2GReZM0AskizA,Romano's Macaroni Grill,5505 S Virginia St,Reno,AB,89502,39.476117,-119.789339,2.5,339,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,tMkwHmWFUEXrC9ZduonpTg,The Green Pheasant,215 1st Ave S,Nashville,TN,37201,36.159886,-86.773197,4.0,161,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,2xVsWBNFwZOxIOdd9Mwnww,Cheeseburger In Paradise,116 N Pottstown Pike,Exton,PA,19341,40.029962,-75.630607,2.5,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,ljxNT9p0y7YMPx0fcNBGig,Tony's Restaurant & 3rd Street Cafe,312 Piasa St,Alton,IL,62002,38.896563,-90.186203,3.0,94,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150306,wVxXRFf10zTTAs11nr4xeA,PrimoHoagies,6024 Ridge Ave,Philadelphia,CA,19128,40.032483,-75.21443,3.0,55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150313,sf_oQ62L8UEnOOLf00nNGA,Pizza Hut,5028 Old Hickory,Hermitage,MO,37076,36.193201,-86.614748,3.0,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150325,l9eLGG9ZKpLJzboZq-9LRQ,Wawa,19 N Bishop Ave,Clifton Heights,TN,19018,39.925656,-75.310344,3.0,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150336,WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,1108 S 9th St,Philadelphia,MO,19147,39.935982,-75.158665,4.5,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150339,2O2K6SXPWv56amqxCECd4w,The Plum Pit,4405 Pennell Rd,Aston,PA,19014,39.856185,-75.427725,4.5,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
"Doctors, Traditional Chinese Medicine,".split(",")

['Doctors', ' Traditional Chinese Medicine', '']

In [59]:
business_df.shape

(150346, 28)